* {
  box-sizing: border-box; }

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  background: #fff2da;
  color: #2c2c23; }

body {
  margin: 0; }

h1 {
  line-height: 1.6;
  font-size: 1.6em; }

h2 {
  line-height: 1.5;
  letter-spacing: .2rem;
  margin: 30px 0 15px 0;
  font-size: 1.7rem; }

h3,
q {
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: 500; }

h4 {
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .08rem; }

p,
a:visited {
  line-height: 1.6;
  font-size: .9rem;
  color: #fff2da; }

.main-title {
  letter-spacing: 1.2rem;
  text-align: center;
  margin: 0 0  100px 0;
  padding: 0;
  font-size: 4rem; }

header {
  display: flex;
  justify-content: flex-end; }

.mainNav {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
  width: 500px;
  justify-content: flex-end;
  align-content: center;
  margin: 30px 30px  60px auto;
  padding: 0;
  font-size: 30px;
  color: #2c2c23; }

.tag-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 0 auto;
  height: auto;
  margin: 20px 0 0 458px;
  justify-content: start; }

.tag {
  position: relative;
  color: #332b00;
  border: 1px solid #ccaa00;
  background: #ccaa00;
  border-radius: 1.5em;
  padding: 5px 20px 5px 15px;
  text-align: center;
  margin: 15px;
  min-width: 70px;
  font-size: 1em;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: .1em;
  cursor: pointer; }

.fa-times {
  margin: 5px 7px; }

.tag-text {
  padding: 0 0 0 10px;
  font-size: .75em; }

.tag:hover {
  background: #b34a00;
  border-color: #b34a00;
  color: #fff2da; }

.tag:focus {
  background: #ccaa00;
  border-color: #2c2c23;
  box-shadow: 0 0 0  5px orangered; }

.tag:active {
  background: #a06700;
  border-color: #a06700;
  color: #fff2da; }

.fa-arrow-up {
  font-size: 1.6em;
  font-weight: 800;
  padding: 0 5px 20px 5px;
  color: #2c2c23;
  border: none;
  border-top: 8px solid #2c2c23;
  border-radius: .05em; }

.fa-arrow-up:hover::after {
  position: absolute;
  top: 65px;
  left: 30px;
  content: "top";
  z-index: 1;
  color: #2c2c23;
  font-family: IBM Plex Mono;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center; }

.fa-arrow-up:active {
  outline: 3px solid #2c2c23;
  outline-offset: 3px; }

.fa-arrow-up:focus {
  outline: 3px solid orange;
  outline-offset: 3px; }

.navItem {
  position: fixed;
  bottom: 100px;
  right: 120px;
  display: inline;
  justify-content: flex-end;
  list-style: none;
  padding: 15px;
  margin: 0;
  font-size: 1.5em;
  z-index: 1;
  transition: scale .2s linear;
  color: #2c2c23; }

.navItem:hover {
  scale: 1.05; }

.inst-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-content: baseline;
  margin: 45px 0 15px 0;
  padding: 45px 5px 15px 5px;
  border: none;
  border-top: 0.5px solid #1e1e18;
  width: auto; }

.inst-wrapper i {
  color: #99948b;
  margin: 0 15px  0 15px; }

.instructions {
  margin: 0;
  padding: 0;
  color: #fff2da;
  letter-spacing: .1em;
  font-size: 1em;
  text-transform: uppercase; }

div > .beerStyles {
  margin: 15px 0; }

.beerStyles {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: .7rem;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #fff2da;
  transition: 0.1s all ease-out; }

.beerStyles:checked {
  border: 10px solid #fff2da; }

.allFilter {
  text-transform: lowercase;
  color: #d18a06; }

.inputWrap:focus {
  outline: 2px solid #e9c721; }

.inputWrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center; }

label {
  color: #e9c721;
  display: inline-block;
  width: 70%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: .1em; }

.tagWrap {
  margin: 0 0 45px 0;
  padding: 0; }

.beerStyles:hover {
  background: #99948b;
  color: white; }

.beerStyles:active {
  transform: scale(0.9);
  font-weight: 600; }

.beerStyles:focus {
  box-shadow: 0 0 2px 4px orange;
  border-radius: 50px; }

.container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  max-width: 700px;
  justify-content: space-between;
  padding: 30px 0;
  margin: 60px; }

.sidebarNav {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%; }

@media only screen and (min-width: 700px) {
  .container {
    max-width: 100%; } }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    margin: 60px auto; }

  .mainNav {
    position: relative;
    max-width: 1350px; } }
.sidebarNav {
  min-width: 320px;
  max-width: 320px;
  padding: 30px 30px 100px 30px;
  margin: 0 0 100px 0;
  border: 1px solid #2c2c23;
  height: 100%;
  background: #2c2c23;
  color: #fff2da;
  overflow-y: scroll; }

@media only screen and (min-width: 1200px) {
  .sidebarNav {
    overflow-y: visible;
    min-height: 100vh; } }
.resultsCount {
  display: inline;
  margin: 0;
  padding: 30px;
  border-radius: .15em;
  color: #2c2c23; }

.result {
  display: inline;
  color: #2c2c23;
  font-weight: 600;
  font-size: 1.3em;
  margin: 0;
  padding: 0 20px;
  z-index: 1;
  letter-spacing: .2em; }

.beerMenu {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

@media only screen and (min-width: 700px) {
  .beerMenu {
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 0 0 360px; }

  .resultsCount {
    margin: 0 0 0 360px; } }
@media only screen and (min-width: 1200px) {
  .beerMenu {
    padding: 0;
    margin: 0 0 0 450px; }

  .resultsCount {
    margin: 0 0 0 450px; } }
.card {
  position: relative;
  background: #a06700;
  color: #fff2da;
  margin: 0 0 15px 30px;
  padding: 45px;
  border: 1px solid #fff2da;
  border-radius: 0.2em;
  max-width: 300px;
  height: 480px; }

@media only screen and (min-width: 700px) {
  .card {
    width: 300px; } }
.card:hover {
  background: #fff2da;
  color: #2c2c23;
  border: 1px solid #a06700;
  transition: all .3s ease; }

.card::after {
  opacity: 0;
  width: 0%;
  right: 0;
  content: "";
  transition: opacity .3s ease; }

.card p:hover {
  color: #2c2c23; }

.beer_name {
  height: 150px;
  font-size: 1.9em;
  overflow-y: scroll;
  letter-spacing: .2rem;
  text-transform: lowercase; }

.beer_tagline {
  height: 55px;
  font-family: IBM Plex Mono;
  font-size: 1em;
  font-style: italic;
  overflow-y: scroll;
  color: inherit;
  margin: 20px 0 5px 0; }

.desc {
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 30px auto;
  color: #fff2da;
  background: #2c2c23;
  border: 1px solid #2c2c23;
  border-radius: .15em;
  height: 30px;
  width: 100%;
  font-family: IBM Plex Sans;
  font-size: .8em;
  font-style: normal;
  letter-spacing: .1em;
  z-index: 1; }

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0; }

.beer_data {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: end;
  margin: 0;
  height: auto;
  padding: 45px  0 0 0; }

.beer_data li {
  font-size: 1em;
  text-transform: uppercase;
  font-family: IBM Plex Mono; }

.ebc {
  margin: 0 0 15px 0;
  cursor: context-menu;
  position: relative; }

.ebc:hover::after {
  position: absolute;
  top: -40px;
  left: -5px;
  content: "Beer color \|";
  z-index: 1;
  color: #2c2c23;
  font-size: .6em;
  text-align: center; }

.submitBtn {
  background: #2c2c23;
  border: 1px solid #2c2c23;
  width: auto;
  height: 40px;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 2px;
  color: #fff2da;
  border-radius: .3em;
  padding: 10px 16px;
  margin: 0  15px 0 0;
  transition: all ease .2s;
  cursor: pointer; }

.submitBtn:active {
  border: 1px dotted #e9c721;
  transform: scale(0.9); }

.submitBtn:hover {
  background-color: #a06700;
  color: #fff2da;
  border: 1px solid #a06700; }

.submitBtn:focus {
  outline: 1px solid #ccaa00; }

abbr {
  text-decoration-line: underline;
  text-decoration-color: #fff2da;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  cursor: help; }

small {
  color: #fff2da; }

.sliderWrap {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px 0 60px 0; }

.slider {
  display: block;
  height: 5px;
  width: 125px;
  opacity: .7;
  outline: none; }

.slider:hover {
  opacity: 1; }

.slider:hover::-webkit-slider-thumb {
  opacity: 1;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #a06700;
  border: 1px solid #a06700; }

.slider::-webkit-slider-thumb {
  opacity: 1;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #a06700;
  border: 1px solid #a06700; }

.slider-A::-moz-range-thumb {
  opacity: 1;
  cursor: pointer;
  border-radius: 50% 0 0 50%;
  height: 25px;
  width: 25px;
  background: #a06700;
  border: 1px solid #a06700; }

.slider-B::-moz-range-thumb {
  opacity: 1;
  cursor: pointer;
  height: 25px;
  border-radius: 0 50% 50% 0;
  height: 25px;
  width: 25px;
  background: #a06700;
  border: 1px solid #a06700; }

.slider::-moz-range-thumb::after {
  content: "hello"; }

.slider:hover::-moz-range-thumb {
  opacity: 1; }

.slider-A {
  border-radius: .15em 0 0 .15em;
  position: absolute;
  top: 75px;
  left: 0; }

.slider-B {
  border-radius: 0 .15em .15em 0;
  position: absolute;
  top: 75px;
  left: 125px; }

.sliderLabels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 96%; }

.sliderLabel {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: lighter;
  letter-spacing: .2em;
  color: #fff2da;
  margin: 45px 0;
  width: 50px;
  text-align: center; }

.abv-output, .ibu-output {
  color: #e9c721;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .2em;
  text-align: center;
  margin: 0 auto 25px auto;
  padding: 15px 0;
  height: 40px;
  width: 70%; }

/* food */
/* tooltips */
.fa-info-circle {
  position: relative;
  cursor: help; }

.info:hover::after {
  position: absolute;
  left: 15px;
  z-index: 1;
  font-size: .6em;
  font-family: IBM Plex Sans;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  color: #2c2c23;
  background: #fff2da;
  border: apx solid #fff2da;
  border-radius: .15em;
  padding: 15px 10px;
  width: 160px; }

.info-style:hover::after {
  top: -100px;
  content: "BEER STYLE is a term used to differentiate and categorise beers by factors such as colour, flavour, strength, ingredients, production method, recipe, history, or origin. "; }

.info-flavor:hover::after {
  top: -70px;
  content: "The FLAVOR PROFILE is used to describe the intensity, aroma, taste, and/or aftertaste of a beer."; }

.info-abv:hover::after {
  top: -85px;
  content: "Alcohol by volume (ABV or alc/vol) is a standard measure of how much alcohol (ethanol) is contained in a given volume of beer."; }

.info-ibu:hover::after {
  top: -160px;
  content: "International Bitterness Units (IBUs) are a chemical measurement of the number of bittering compounds in a beer. Generally speaking, the more IBU's, the more bitter it will taste. However, it's important to note that malt and other flavors can mask the taste of bitterness in beer. "; }

/*# sourceMappingURL=style.css.map */
